{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "camelcase": "off",
    "@typescript-eslint/camelcase": "off",
    "no-console": [1],
    "@typescript-eslint/no-var-requires": [1]
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  }
}